---
import Blog from "../../layouts/Blog.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Blog>
  <div>
    <a class="hover:underline" href="/">
      👈 Back to profile
    </a>
  </div>
  <div>
    {
      posts.map((post) => (
        <>
          <div class="py-6 flex flex-row-reverse gap-6 md:gap-10 items-start">
            {post.data.heroImage && (
              <a href={`/blog/${post.slug}`} class="shrink-0">
                <img
                  src={post.data.heroImage}
                  alt={post.data.title}
                  width="160"
                  height="160"
                  class="w-20 h-20 md:w-40 md:h-40 rounded bg-base-200 object-cover"
                />
              </a>
            )}
            <div class="flex flex-col gap-4">
              <h2 class="text-2xl font-bold">
                <a class="hover:underline" href={`/blog/${post.slug}`}>
                  {post.data.title}
                </a>
              </h2>
              <p class="text-sm text-base-content/70">
                {post.data.description}
              </p>
            </div>
          </div>
        </>
      ))
    }
  </div>
</Blog>
